<div class="container"%>
        <header class="section-title">
            <h1>Our Services</h1>

            <ol class="breadcrumb">
                 <%= render_breadcrumbs :tag => :li, :separator => "", :class=>"breadcrumb-label text-light-gray" %>
            </ol>
        </header>
        
        <section class="home-features">
        	<% @services.each do |service| %>
       
  
               
             
                <div class="col-md-4 col-sm-7 blocks">
                        <article class="home-features-item">
                            <div class="service-summary">
                            <% unless service.logo_icon == nil %>
                                <%= raw ("<i class='icon-#{service.logo_icon}'></i>") %>
                            <% else %>
                                <i class="icon-chevron-down"></i>
                            <% end %>
                            <h2><%= service.name %></h2>
                            <p><%= service.summary %></p>
                            </div>
                            
                            <%= link_to "Read More", service_path(service), :class=>"btn btn-default" %>
                        
                            
                        </article>

                </div>
              
            
       
        	<% end %>
        </section>
     

</div>


