<style>
	.wrap-service-header {
	    padding: 20px;
	    background-color: #082a47;
	    <%= raw("background-image: url('#{@service.header.url(:original)}');") %>
	    background-position: top center; 
	    background-repeat: repeat-y;

	    background-size: cover !important;
	   
	    
	}


</style>
<div class="wrap-service-header">
	<div class="header-title">

	    <h2> <%= @service.name %> </h2>
		<h4> <%= @service.summary %> </h4>
	</div>
</div>
<div class="wrap-home-features">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<section class="home-features">
					<%= sanitize(@service.description)%>
				</section>
			</div>

			<div class="col-md-6">
				<%= image_tag @service.logo.url, :class=> "img img-responsive" %>
			</div>
		</div>

	</div>
</div>
	
