<% content_for :page_title, "Optimus Labs" + " " + @service.name %>
<% content_for :page_description, @service.summary  %>

<% content_for :meta_tags do %>
<!-- Twitter Card data --> 
<meta name="twitter:card" value="<%= @service.summary %>">

<!-- Open Graph data --> 
<meta property="og:title" content="<%= @service.name %>" /> 
<meta property="og:type" content="article" /> 
<meta property="og:url" content="<%= service_url(@service) %>" />
<meta property="og:description" content="<%= @service_summary %>" />
  
<% end %>
<div class="wrap-service-header">
	<div class="header-title">

	    <h2> <%= @service.name %> </h2>
		<h4> <%= @service.summary %> </h4>
	</div>
</div>
<div class="wrap-home-features">
	<div class="container">
		<section>
		<div class="row">
			<div class="col-md-8">
				<section class="home-features">
					<%= sanitize(@service.description)%>
				</section>
			</div>

			<div class="col-md-4">
			  <section class="home-features">
			  	<div class="image-holder">
					<%= image_tag @service.logo.url(:medium), :class=> "img img-responsive" %>
				</div>
			 </section>
			</div>
		</div>
		</section>

	</div>
</div>
	
<style>
.wrap-service-header {
        padding: 20px;
        background-color: #082a47;
        background-image: url('<%= @service.header.url(:original) %>');
        background-position: top center; 
        background-repeat: repeat-y;

        background-size: cover !important;
       
        
    }
</style>