                   <div class="comment">
                            <div class="row">
                            
                            <div id="votable-<% comment.id %>-vote" class="pull-right">
                                        
                                        <%= render "admin/votes/vote_result", :votable => comment %>
                                        <%= render "admin/votes/vote_controls", :votable => comment%>
                            </div>
                            </div>
                            <%= image_tag comment.user.avatar.url(:thumb), :class=> "comment-avatar" %>
                           
                            <div class="comment-body">
                                <div class="comment-by">
                                    <a href="#" title=""><%= comment.user.username %></a> said 
                                <div class="comment-text">
                                   <%= comment.body %>
                                </div>
                                <div class="comment-actions">
                                    <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                                    <a href="#"><i class="fa fa-times"></i>Remove</a>
                                    <span class="pull-right"><%= time_ago_in_words(comment.created_at) %> ago</span>
                                </div>
                            </div> <!-- / .comment-body -->
                        </div>


                  
                    
