  <style>
    .holder {min-height: 400px;}
  </style>

  <% content_for :page_header do %>
   <%= @client.name %>
  <% end %>
  <% content_for :page_search do %>
   
  <% end %>
  <% content_for :page_actions do %>
    <%= link_to admin_clients_path, :class => 'btn btn-primary btn-labeled', :style=>"width: 100%;" do %>
                <span class="btn-label icon fa fa-plus"></span>Back
    <% end %>
  <% end %>
  <%= render 'admin/header' %>


  <ul id="uidemo-tabs-default-demo" class="nav nav-tabs tabdrop">
              <li class="">
                <a href="#client-dash" data-toggle="tab">Dashboard</a>
              </li>
              <li class="">
                <a href="#client-invoices" data-toggle="tab">Invoices <span class="badge badge-primary"><%= @client.invoices.size %></span></a>
              </li>
               <li class="">
                <a href="#client-tickets" data-toggle="tab">Tickets<span class="badge badge-primary"><%= @client.tickets.size %></span></a>
              </li>
               <li class="">
                <a href="#client-contacts" data-toggle="tab">Contacts <span class="badge badge-primary"><%= @client.contacts.size %></span></a>
              </li>
              <li class="">
                <a href="#client-users" data-toggle="tab">Users <span class="badge badge-primary"><%= @client.users.size %></span></a>
              </li>
             
  </ul>

  <div class="tab-content tab-content-bordered">
              <div class="tab-pane fade active in" id="client-dash">
                <div class="holder row">
                <%= render 'admin/clients/partials/tasks' %>
                <%= render 'admin/clients/partials/summary' %>
                </div>
                           
              </div> <!-- / .tab-pane -->
              <div class="tab-pane fade" id="client-invoices">
               <div class="holder">
                <%= render 'admin/clients/partials/invoices' %>
               </div>
              </div> <!-- / .tab-pane -->
              <div class="tab-pane fade" id="client-contacts">
               <div class="holder">
                <%= render 'admin/clients/partials/contacts' %>
               </div>
              </div><!-- / .tab-pane -->
              <div class="tab-pane fade" id="client-users">
               <div class="holder">
                <%= render 'admin/clients/partials/users' %>
               </div>
              </div><!-- / .tab-pane -->
              <div class="tab-pane fade" id="client-tickets">
               <div class="holder">
                <%= render 'admin/clients/partials/tickets' %>
               </div>
              </div><!-- / .tab-pane -->
    
</div>

 <!-- Javascript -->
      <script>
        init.push(function () {
          $('#dashboard-support-tickets .panel-body').slimScroll({ height: 300, alwaysVisible: true, color: '#888',allowPageScroll: true });
        })
      </script>

       <script>
        init.push(function () {
          $('#client-invoices .panel-body > div').slimScroll({ height: 300, alwaysVisible: true, color: '#888',allowPageScroll: true });
        })
  </script>
  
  <script>
        init.push(function () {
          $('#dashboard-tasks .panel-body').slimScroll({ height: 300, alwaysVisible: true, color: '#888',allowPageScroll: true });
        })
  </script>
      <!-- / Javascript -->

<script>

          init.push(function () {
            $('ul.tabdrop').tabdrop();
          });

</script>