<!-- 10. $SUPPORT_TICKETS ==========================================================================

      Support tickets
-->
      <!-- Javascript -->
      <script>
        init.push(function () {
          $('#dashboard-support-tickets .panel-body ').slimScroll({ height: 300, alwaysVisible: true, color: '#888',allowPageScroll: true });
        })
      </script>
      <!-- / Javascript -->

      <div class="col-sm-12 col-md-6">
        <div class="panel panel-success widget-support-tickets" id="dashboard-support-tickets">
          <div class="panel-heading">
            <span class="panel-title"><i class="panel-title-icon fa fa-bullhorn"></i>Tickets</span>
            <div class="panel-heading-controls">
              <%= link_to new_admin_ticket_path  do%>
              <button class="btn btn-xs btn-primary btn-outline"><i class="fa fa-pencil text-success"></i> New Ticket</button>
              <% end %>
              <button class="btn btn-xs btn-primary btn-outline"><i class="fa fa-eraser text-success"></i> <%= @tickets.size %></button>
            </div>
          </div> <!-- / .panel-heading -->
          <div class="panel-body">
            <!-- Panel padding, without vertical padding -->
            <div class="panel-padding no-padding-vr">
            <% @tickets.each do |ticket| %>
              <div class="ticket">
                <span class="label label-<%=ticket.get_label %> ticket-label"><%= ticket.aasm.human_state %></span>
                <%= link_to admin_ticket_path(ticket), :class=>"ticket-title" do %> 
                <%= ticket.subject %><span>#<%= ticket.id %></span>
                <% end %>
                <span class="ticket-info">
                  <p>Opened by 
                    <%= link_to admin_client_path(ticket.client) do %>
                    <%= ticket.client.name %> 
                    <% end %>
                   <%= time_ago_in_words(ticket.created_at)%> ago</p>
                </span>
              </div> <!-- / .ticket -->

            <% end %>
            </div>
          </div> <!-- / .panel-body -->
        </div> <!-- / .panel -->
      </div>
<!-- /10. $SUPPORT_TICKETS -->