
  <% content_for :page_header do %>
   <%= @invoice_status.name %>
  <% end %>
  <% content_for :page_actions do %>
    <%= link_to admin_invoice_status_path, :class => 'btn btn-primary btn-labeled', :style=>"width: 100%;" do %>
                <span class="btn-label icon fa fa-plus"></span>Back
    <% end %>
  <% end %>

<%= render 'admin/header' %>



<div class="panel colourable">
          <div class="panel-heading">
            <span class="panel-title">Invoice Status Details</span>
            <div class="panel-heading-controls">
              <span class="panel-heading-text"><em></em>&nbsp;&nbsp;<span style="color: #ccc">|</span>&nbsp;&nbsp;</span>
               <%= link_to edit_admin_invoice_status_path(@invoice_status), :class => 'btn btn-xs' do %>
                <span class="btn-label icon fa fa-plus"></span>Edit
               <% end %>
            </div>
          </div> <!-- / .panel-heading -->
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>State:</dt>
              <dd><%= @invoice_status.state %></dd>

              <dt>Description:</dt>
              <dd><%= @invoice_status.description %></dd>

            </dl>
          </div>
</div>