<script>
  var init = [];
  init.push(function () {
    $('body').addClass('mmc page-mail');
  });
</script>
  <%= render "nav" %>
  <div class="mail-container">
    <div class="mail-container-header">
      Inbox
    </div>



    <ul class="mail-list">

      <% @inbox.each  do |inbox| %>
      <% if inbox.read == false %>
       <li class="mail-item unread">
      <% else %>
       <li class="mail-item read">
      <% end %>


        <div class="m-chck"><label class="px-single"><input type="checkbox" name="" value="" class="px"><span class="lbl"></span></label></div>
        <div class="m-star"><a href="#"></a></div>
       <div class="m-from"><a href="#"><%= inbox.sender.full_name %></a></div>
        <%= link_to admin_message_path(inbox.message) do %>
        <% if inbox.message.source == "CONTACT_FORM_USER" %>
        <div class="m-subject"><span class="label label-danger">User</span>&nbsp;&nbsp;<%= inbox.message.subject %> </div>
        <% elsif inbox.message.source == "CONTACT_FORM" %>
        <div class="m-subject"><span class="label label-danger">Client</span>&nbsp;&nbsp;<%= inbox.message.subject %> </div>
      
        <% else %>
         <div class="m-subject"><span class="label label-success">Other</span>&nbsp;&nbsp;<%= inbox.message.subject %> </div>
        <% end %>

        <% end %>
        <div class="m-date"><%= inbox.created_at %></div>
      </li>
           
          
            
      <% end %>
     
     
    </ul>

  </div>



  <script type="text/javascript">
  init.push(function () {
    // Open nav on mobile
    $('.mail-nav .navigation li.active a').click(function () {
      $('.mail-nav .navigation').toggleClass('open');
      return false;
    });

    // Make message starred/unstarred
    $('body').on('click', '.m-star', function () {
      $(this).parents('.mail-item').toggleClass('starred');
      return false;
    });

    // Fix navigation if main menu is fixed
    if ($('body').hasClass('main-menu-fixed')) {
      $('.mail-nav').addClass('fixed');
    }
  })
  window.PixelAdmin.start(init);
</script>