
<script>
  var init = [];
  init.push(function () {
    $('body').addClass('mmc page-mail');
  });
</script>
<%= render "nav" %>
     <div class="mail-container">
    <div class="mail-container-header show">
      <a href="#" class="m-details-star"><i class="fa fa-star"></i></a> <span class="label label-pa-purple"><%= @message.source %></span>&nbsp;
     <%= @message.subject %>&nbsp;
    
    </div>

    <div class="mail-controls clearfix">
      <div class="btn-toolbar wide-btns pull-left" role="toolbar">

        <div class="btn-group">
          <%= link_to admin_messages_path do %>
          <button type="button" class="btn"><i class="fa fa-chevron-left"></i></button>
          <% end %>
        </div>


      </div>
    </div>

    <% @message.ancestors.each do |desc| %>
      <a href="#" data-toggle="collapse" data-target="#message-<%=desc.id %>" >
      <div class="mail-info">
        <div class="from" >
          <div class="name"><%= desc.find_sender.full_name %> </div>
          <div class="email"><%= desc.find_sender.email %></div>
        </div>
       <div class="date"><%= desc.created_at %></div>
        </div>
      </a>
       <div class="mail-message-body collapse" id="message-<%= desc.id %>" >
        <%= desc.body %>
         
       </div>
    <% end %>
    <div class="mail-info">
      <div class="from">
        <div class="name"><%= @message.find_sender.full_name %> </div>
        <div class="email"><%= @message.find_sender.email %></div>
      </div>

      <div class="date"><%= @message.created_at %></div>
    </div>


    <div class="mail-message-body">
        <%= @message.body %>
         
    </div>
    
    <ul class="mail-attachments">
      
    </ul>

    <div class="message-details-reply">
        <% @reply_message = Message.new %>
        <%= form_for([:admin, @reply_message], :html => { :class => "form-horizontal" }) do |f| %>
        <%= f.text_area :body, :class=> "form-control", :rows=> 5 %>
        <%= f.hidden_field :email, :value => current_user.contact.email %>
        <%= f.hidden_field :parent_id, :value => @message.id %>
        <%= f.hidden_field :recipient, :value => @message.find_sender.email %>
        <%= f.hidden_field :subject, :value => "RE: "+ @message.subject %>
        <div class="expanding-input-hidden" style="margin-top: 10px;">
          <%= f.submit "Send Message", :class=> "btn btn-primary pull-right" %> 
        </div>
      <% end %>
    </div>

  </div>



<script type="text/javascript">
  init.push(function () {
    // Open nav on mobile
    $('.mail-nav .navigation li.active a').click(function () {
      $('.mail-nav .navigation').toggleClass('open');
      return false;
    });

    // Make message starred/unstarred
    $('body').on('click', '.m-details-star', function () {
      $(this).find('> *').toggleClass('fa-star').toggleClass('fa-star-o');
      return false;
    });

    // Fix navigation if main menu is fixed
    if ($('body').hasClass('main-menu-fixed')) {
      $('.mail-nav').addClass('fixed');
    }

    $(".message-details-reply").expandingInput({
      target: 'textarea',
      hidden_content: '> div',
      placeholder: 'Click here to <a htef="#" class="text-muted"><strong>Reply</strong></a> or <a htef="#" class="text-muted"><strong>Forward</strong></a>',
      onAfterExpand: function () {
        $('#message-details-reply textarea').attr('placeholder', '').summernote({
          height: 200,
          tabsize: 2,
        });
      }
    });
  })
  window.PixelAdmin.start(init);
</script>