<%= form_for([:admin, @invoice], :html => { :class => "form-horizontal panel", :multipart => true }) do |f| %>
  <div class="panel-header">
  </div>
  <div class="panel-body">
  <% if @invoice.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h4>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="form-group">
    <div class="col-md-4">
   
        <%= f.label :subject, :class => "control-label" %>
    
        <%= f.text_field :subject, :class => "form-control", :label => false %>
    
   
    </div>
    <div class="col-md-4">
    
          <%= f.label :Client, :class => "control-label" %>
          <%= f.text_field :client_name, data: {autocomplete_source: admin_clients_path}, :class=> "form-control", :required => true %>
    
    </div>
    <div class="col-md-4">
    
        <%= f.label :state, :class => "control-label" %>
        <%= f.select :status, @invoice.aasm.states(:permissible => true).map{|state| [state.human_name, state.name]},{}, { :class => 'form-control' } %> 
   
    </div>
  </div>
  
  

  <div>
    <ul id="profile-tabs" class="nav nav-tabs">
            <li class="active">
              <a href="#invoice-tabs-items" data-toggle="tab">Line Items</a>
            </li>
            <li>
              <a href="#invoice-tabs-notes" data-toggle="tab">Notes</a>
            </li>
        
    </ul>
    <div class="tab-content tab-content-bordered panel-padding">
            <div class="tab-pane no-padding no-border fade in active" id="invoice-tabs-items">
               
                  <%= f.simple_fields_for :items, :wrapper => 'bootstrap' do |item| %>
                      
                       <%= render 'item_fields', :f => item %>
              
                    <% end %>
            
              
                  <div class="form-group links">
                  <%= link_to_add_association 'add item', f, :items, :class=>"btn btn-primary pull-right" %>
                  </div>
        
            </div>
    
          
              <div class="tab-pane no-padding no-border fade in" id="invoice-tabs-notes">
                
                  <%= f.simple_fields_for :notes, :wrapper => 'bootstrap' do |item| %>
                            
                             <%= render 'note_fields', :f => item %>
                  <% end %>
                    
                  <div class="form-group links">
                  <%= link_to_add_association 'add note', f, :notes, :class=>"btn btn-primary pull-right" %>
                  </div>
             
           
            </div>
            
    </div>


    </div>
    <div class="panel-footer text-right">
    
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>

<% end %>

<script>
 $(function() {
        $( "#invoice_client_name" ).autocomplete({
          source: $('#invoice_client_name').data('autocomplete-source')
    });
  });
</script>