	  <div class="nested-fields" id="nested-item">

      <div class="form-group">
			<%=  f.label "item", :class => "col-sm-2 control-label" %>
		     <div class="col-sm-10">
				<%= f.input :target_identifier, collection: (Service.all).map { |i| [ i.name, "#{i.class.to_s}-#{i.id}"] }, :label=> false, :input_html => {:class=> "form-control"} %>
			</div>
	  </div>
	   <div class="form-group">
		<%=  f.label "Description", :class => "col-sm-2 control-label" %>
			 <div class="col-sm-10">
				<%= f.input :description, :label=> false, :input_html => {:class=> "form-control"}%>
			</div>
	  	</div>
	   <div class="form-group">
		<%=  f.label :price, :class=> "col-sm-2 control-label" %>
			 <div class="col-sm-10">
				<%= f.input :price, :label=> false,  :input_html => {:class=> "form-control"}%>
			</div>
	  	</div>
		<div class="form-group">
		<%=  f.label "Quanitity", :class => "col-sm-2 control-label" %>
			 <div class="col-sm-10">
				<%= f.input :quantity, :label=> false, :input_html => {:class=> "form-control"}%>
			</div>
	  	</div>

	  <div class="form-group">
			
			<div class="col-sm-offset-2 col-sm-10">

				<%= link_to_remove_association "Remove Item",   f %>
			</div>
	 </div>
	</div>
	



