<script>
  var init = [];
  init.push(function () {
    $('body').addClass('mmc page-profile');
  });
</script>

  <% content_for :page_header do %>
    Listing Invoices
  <% end %>
  <% content_for :page_actions do %>
      <% if params[:client_id] %>
             <%= link_to new_admin_client_invoice_path(params[:client_id]), :class => 'btn btn-primary btn-labeled', :style=>"width: 100%;" do %>

                  <span class="btn-label icon fa fa-plus"></span>Create Invoice
              <% end %>
      <% else %>
              <%= link_to new_admin_invoice_path, :class => 'btn btn-primary btn-labeled', :style=>"width: 100%;" do %>
                  <span class="btn-label icon fa fa-plus"></span>Create Invoice
              <% end %>
      <% end %>
  <% end %>
  <% content_for :page_search do %>
  <form action="" class="pull-right col-xs-12 col-sm-6">
              <div class="input-group no-margin">
                <span class="input-group-addon" style="border:none;background: #fff;background: rgba(0,0,0,.05);"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Search..." class="form-control no-padding-hr" style="border:none;background: #fff;background: rgba(0,0,0,.05);">
              </div>
            </form>
  <% end %> 
<%= render 'admin/header' %>
  <table class="table table-striped table-bordered table-hover" id="table">
    <thead>
      <tr>
            <th>Subject</th>
            <th>Client</th>
            <th>Balance</th>
            <th>Started</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @invoices) do |invoice| %>
            <td><%= invoice.subject %></td>
            <td><%= invoice.client %></td>
            <td><%= link_to 'Show', ([:admin,invoice]) %></td>
        <td><%= link_to 'Edit', edit_admin_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', ([:admin,invoice]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
<script>
  $(function () {
    $( '#table' ).searchable({
        striped: true,
        oddRow: { 'background-color': '#f5f5f5' },
        evenRow: { 'background-color': '#fff' },
        searchType: 'fuzzy'
    });
    
    $( '#searchable-container' ).searchable({
        searchField: '#container-search',
        selector: '.row',
        childSelector: '.col-xs-12',
        show: function( elem ) {
            elem.slideDown(100);
        },
        hide: function( elem ) {
            elem.slideUp( 100 );
        }
    })
});
</script>