  <% content_for :page_header do %>
   <%= @invoice.subject %>
  <% end %>
  <% content_for :page_actions do %>
    <% if params[:client_id] %>
      <%= link_to admin_client_invoices_path(params[:client_id]), :class => 'btn btn-primary btn-labeled', :style=>"width: 100%;" do %>
                  <span class="btn-label icon fa fa-plus"></span>Back
      <% end %>
    <% else %>
       <%= link_to admin_invoices_path, :class => 'btn btn-primary btn-labeled', :style=>"width: 100%;" do %>
                  <span class="btn-label icon fa fa-plus"></span>Back
      <% end %>
  <% end %>
  <% end %>

  <%= render "admin/header" %>

<script>
  var init = [];
  init.push(function () {
    $('body').addClass('page-invoice');
  });
</script>
     
      <div class="panel-heading">
                  <span class="panel-title">Customer Invoice</span>
                  <% if params[:client_id] %>
                    <div class="panel-heading-controls">
                      <%= link_to admin_client_invoice_print_path(params[:client_id],@invoice), :class => 'btn btn-xs' do %>
                        <span class="btn-label icon fa fa-print"></span>&nbsp;Print
                       <% end %>
                       <%= link_to edit_admin_client_invoice_path(params[:client_id],@invoice), :class => 'btn btn-xs' do %>
                        <span class="btn-label icon fa fa-plus"></span>&nbsp;Edit
                       <% end %>
                    </div>
                  <% else %>
                    <div class="panel-heading-controls">
                       <%= link_to admin_invoice_print_path(@invoice), :class => 'btn btn-xs' do %>
                        <span class="btn-label icon fa fa-print"></span>&nbsp;Print
                       <% end %>
                       <%= link_to edit_admin_invoice_path(@invoice), :class => 'btn btn-xs' do %>
                        <span class="btn-label icon fa fa-pencil"></span>&nbsp;Edit
                       <% end %>
                       <% if @invoice.current_balance > 0 %>
                        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">Apply Payment</button>
                       <% else %>
                        <button class="btn btn-success btn-xs">Paid</button>
                       <% end %>
                    </div>
                  <% end %>
      </div> <!-- / .panel-heading -->
    
      <div class="panel invoice">

      <div class="invoice-header">
        <h3>
        
          <div>
                <small><%= Setting.company_name %></small><br>
                <% if @invoice.quoted? %>
                   Quote #<%= @invoice.id %>
                <% else %>
                   Invoice #<%= @invoice.id %>
                <% end %>

               
          </div>
        </h3>
        <address>
          <%= Setting.company_address %><br>
           <%= Setting.company_city %>, <%= Setting.company_state %>, <%= Setting.company_zip %><br>
         
        </address>
        <div class="invoice-date">
          <small><strong>Date</strong></small><br>
         <%= @invoice.created_at.strftime('%B %d, %Y') %>
        </div>
      </div> <!-- / .invoice-header -->
      <div class="invoice-info">
        <div class="invoice-recipient">
          <strong><%= @invoice.client.name %></strong><br>
           <%= @invoice.client.address %><br>
           <%= @invoice.client.city %>, <%=@invoice.client.state %>, <%= @invoice.client.zip %>
        </div> <!-- / .invoice-recipient -->
        <div class="invoice-total">
          <span><%= @invoice.total_price %> </span>
          TOTAL:
        </div> <!-- / .invoice-total -->
        <div class="invoice-due">
          <span><%= @invoice.current_balance %> </span>
          DUE:
        </div> <!-- / .invoice-total -->
      </div> <!-- / .invoice-info -->
      <hr>
      <div class="invoice-table">
        <table>
          <thead>
            <tr>
              <th>
                Item Name
              </th>
              <th>
                Item Type
              </th>
              <th>
                Quantity
              </th>
              <th>
                Line total
              </th>
            </tr>
          </thead>
          <tbody>
          <% @invoice.items.each do |item| %>
            <tr>
              <td>
               <%= item.purchasable.name %>
                <div class="invoice-description"><%= item.description %></div>
              </td>
              <td>
                <%= item.purchasable.class.to_s %>
              </td>
              <td>
                <%= item.quantity %>
              </td>
              <td>
                <%= item.line_total %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
       
          

        <div class="panel">
          <div class="panel-heading">
            <span class="panel-title">Notes</span>
          </div>
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="col-md-1">Date</th>
                  <th>Note</th>
                </tr>
              </thead>
              <tbody>
              <% @invoice.notes.each do |note| %>
                <tr>
                  <td class="col-md-1"><%= note.created_at.strftime("%d/%m/%Y") %></td>
                  <td><%= note.body %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>


        <div class="panel">
          <div class="panel-heading">
            <span class="panel-title">Payments</span>
          </div>
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="col-md-1">Date</th>
                  <th>Amount</th>
                  <th>Method</th>
                </tr>
              </thead>
              <tbody>
              <% @invoice.payments.each do |payment| %>
                <tr>
                  <td class="col-md-1"><%= payment.created_at.strftime("%d/%m/%Y") %></td>
                  <td><%= payment.amount %></td>
                  <td><%= payment.payment_method.try(:name) %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>

        
          
      </div> <!-- / .invoice-table -->
    </div> <!-- / .invoice -->
<!-- /5. $INVOICE_PAGE -->



<!-- 5. $DEFAULT_MODAL =============================================================================

        Default modal
-->
        <!-- Modal -->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Apply Payment</h4>
              </div>
              <div class="modal-body">
                  <%= render "admin/payments/form" %>
              </div> <!-- / .modal-body -->
            </div> <!-- / .modal-content -->
          </div> <!-- / .modal-dialog -->
        </div> <!-- /.modal -->
        <!-- / Modal -->

       
<!-- /5. $DEFAULT_MODAL -->
