<!-- Carousel Home -->
<div id="fb-root"></div>
<script>


</script>

    <div class="wrap-home-header">
        <div class="container">
           <div class="header-content">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="header-title">
								<h2 class="animated fadeIn">Optimus Labs</h2>
								<h4 class="font-thin"><span class="font-semibold"><%= Setting.site_slogan %></h4>
							</div>
						</div>
					</div>
					<hr>
				</div>
			</div>

            </div> <!-- lcd -->
        </div> <!-- container -->
    </div> <!-- wrap-header-home -->

    <div class="wrap-home-features">
        <div class="container">
            <section class="home-features">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <article class="home-features-item">
                            <i class="icon-eye-open"></i>
                            <h2>Monitoring</h2>
                            <p>Proactive monitoring of your network equipment and websites. We are proactive even while you sleep.</p>
                            <a class="btn btn-default">Read More</a>
                        </article>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <article class="home-features-item">
                            <i class="icon-html5"></i>
                            <h2>Web Design</h2>
                            <p>Get your brand out there with custom web design. We build consistent platforms across all devices.</p>
                            <a class="btn btn-default">Read More</a>
                        </article>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <article class="home-features-item">
                            <i class="icon-tablet"></i>
                            <h2>Purchasing Advisor</h2>
                            <p>We work as a trusted advisor and help you make purchasing decisions. We are not in the business of high pressure sales.</p>
                            <a class="btn btn-default">Read More</a>
                        </article>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <article class="home-features-item">
                            <i class="icon-pencil"></i>
                            <h2>Software Dev</h2>
                            <p>When it comes to software development we do it all. Need a Mobile App? We do that too. Fixing old code? No problem.</p>
                            <a class="btn btn-default">Read More</a>
                        </article>
                    </div>
                </div> <!-- row -->
            </section> <!-- home-features -->
        </div> <!-- container -->
    </div> <!-- wrap-home-features -->

    <div class="container">
            <div class="row">                             
                <div class="col-lg-8 col-md-12">
                    <section class="home-works">            
                        <h1 class="section-title">In The Lab</h1>
                        
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <figure class="caption cs-style-3">
                                    <img src="/assets/w1.jpg" alt="img04">
                                    <figcaption>
                                        <h3>Settings</h3>
                                        <span>Jacob Cummings</span>
                                        <a class="btn btn-robotic-inverse" href="#">Take a look</a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <figure class="caption cs-style-3">
                                    <img src="/assets/w2.jpg" alt="img01">
                                    <figcaption>
                                        <h3>Camera</h3>
                                        <span>Jacob Cummings</span>
                                        <a class="btn btn-robotic-inverse" href="#">Take a look</a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <figure class="caption cs-style-3">
                                    <img src="/assets/w3.jpg" alt="img02">
                                    <figcaption>
                                        <h3>Music</h3>
                                        <span>Jacob Cummings</span>
                                        <a class="btn btn-robotic-inverse" href="#">Take a look</a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <figure class="caption cs-style-3">
                                    <img src="/assets/w4.jpg" alt="img02">
                                    <figcaption>
                                        <h3>Music</h3>
                                        <span>Jacob Cummings</span>
                                        <a class="btn btn-robotic-inverse" href="#">Take a look</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>    
                    </section> <!-- home-works -->
                </div> <!-- col-md-8 -->
                <div class="col-lg-4 col-md-12">
                    <section class="home-social-widget">
                        <h1 class="section-title">Social Networking</h1>
                        <ul class="nav nav-tabs nav-tabs-robotic nav-tabs-robotic-light nav-tabs-home" id="myTab">
                           
                            <li class="active"><a href="#twitter" data-toggle="tab"><i class="icon-twitter"></i> Twitter</a></li>
                            <li><a href="#facebook" data-toggle="tab"><i class="icon-facebook"></i> Facebook</a></li>
                        </ul>

                        <div class="tab-content">
           
                            <div class="tab-pane active" id="twitter">
                                <a class="twitter-timeline" href="https://twitter.com/GetOptimus" data-widget-id="469627321305948160">Tweets by @GetOptimus</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



                              


                            </div>
                            <div class="tab-pane" id="facebook">
                            <div class="fb-like-box" data-href="https://www.facebook.com/getoptimus" data-width="100%" data-height="400" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
                             
                            </div>
                        </div>
                    </section> <!-- home-social-widget -->
                </div> <!-- col-md-4 -->
            </div> <!-- row -->
        


        <div class="row">
            <div class="col-md-12">
                <section class="team-home">
                    <h1 class="section-title">Our Mission</h1>
                    <p class="lead">&laquo;Technology should be invisible. Computers, smartphones, and websites should just work. We will make your tech dissapear into the background.&raquo;</p>
                    <div class="row">
                        <div class="col-md-4">
              
                        </div>
                        <div class="col-md-4">
                            <div class="team-home-item">
                                <div class="team-home-img">
                                    <img src="/assets/th2.jpg" alt="">
                                </div>
                                <div class="team-home-content">
                                    <h3>Jody Albritton - CEO</h3>
                                    <p>Programmer. Web Guy. Engineer</p>
                                    <p>Jody has been working in technology related fields for over 15 years.</p>
                                </div>
                                <div class="team-home-footer">
                                    <a href="#">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            
                        </div>
                    </div>
                </section> <!-- team-home -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-7">
                <section class="home-about">
                    <div class="section-title">
                        <h1>About us</h1>
                    </div>
                    <p>For the last four years, Optimus has provided consulting to companies and edcuational institutions <strong>small</strong> and large. We use the best open source technologies and leverage the vast amount of resources available on the internet. </p>
                </section>
            </div>
            <div class="col-lg-4 col-md-5">
                <section class="home-clients">
                    <div class="section-title">
                        <h1>Our clients</h1>
                    </div>
                    <% @client_hightlight.each do |ch| %>
                        <% unless ch == nil %>
                        <%= link_to ch.url do %>
                            <%= image_tag ch.avatar.url(:thumb)%>
                           
                        <% end %>
                        <% else %>

                        <a href="#"><img src="/assets/rb.jpg" class="img-responsive" alt="Image"></a>
                        <% end %>
                    <% end %>
                    
                    
                </section>
            </div>
        </div> <!-- row -->

        <!-- latest-posts -->
        <section class="latest-post">
            <h1 class="section-title">Latest Blog Entries</h1>
            <div class="row">
            <% @recent_posts.each do |post| %>
                <div class="col-md-4">
                    <div class="home-post-item"> 
                        <h3><%= link_to post.title, post_path(post) %></h3>
                        <p><%= strip_tags(post.body).first(200) %></p>
                    </div>
                </div>
            <% end %>
            </div> <!-- row -->
        </section> <!-- latest-post -->
    </div> <!--container -->