<%  add_breadcrumb "Home", :root_path, :options => { :title => "Home" } %>
<%  add_breadcrumb "Contact", page_path('contact'), :options => { :title => "Contact" } %>
<% content_for :page_title, 'Contact Optimus Labs' %>
<% content_for :page_description, 'Contact Optimus Labs for any of your small business technology needs' %>
<div class="container">
        <header class="section-title">
            <h1>Contact us</h1>

            <ol class="breadcrumb">
             <%= render_breadcrumbs :tag => :li, :separator => "", :class=>"breadcrumb-label text-light-gray" %>
            </ol>
        </header>

     

        <div class="row">
            <div class="col-md-7">
              

              
                
                  <div class="container">              


                <%= form_for (new_contact_message) do |f| %>
                  <%= render 'shared/error_messages', object: f.object %>
                    <% unless user_signed_in? %>
                        <div class="form-group">
                            <label>Name</label>
                             <%= f.text_field :full_name, :class=> "form-control", :required => true %> 
                        </div>
                 
                        <div class="form-group">
                            <label>Email address</label>
                             <%= f.text_field :email, :class=> "form-control", :required => true %> 
                            <label>Phone Number</label>
                             <%= f.text_field :phone, :class=> "form-control" %> 
                             <label>Subject</label>
                            <%= f.text_field :subject, :class=> "form-control", :required => true %> 
                          
                             <%= f.hidden_field :source, :value => "CONTACT_FORM" %>
                             <%= f.hidden_field :recipient, :value => Setting.company_email %>

                        </div>
                    <% else %>


                 
                       <div class="form-group">
                          <label>Subject</label>
                          <%= f.text_field :subject, :class=> "form-control" %> 
                          <%= f.hidden_field :source, :value => "CONTACT_FORM_USER" %>  
                          <%= f.hidden_field :email, :value => current_user.email %>
                          <%= f.hidden_field :full_name, :value => current_user.full_name %>      
                          <%= f.hidden_field :recipient, :value => Setting.company_email %>
                      </div>
                      
                  <% end %>
                  <div class="form-group">
                          <label for="InputMessage">Messsage</label>
                          <%= f.text_area :body, :class=> "form-control" %>       
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
              <% end %>
</div>
            </div>

            <div class="col-md-5">
                <div class="contact-info">
                    <h3>Contacts</h3>
                    <address>
                        <strong>Optimus Labs</strong><br>
                        <abbr title="Phone">P:</abbr> (903) 203-8916
                    </address>

                    <!-- Business Hours -->
                    <h3>Business Hours</h3>
                    <ul class="list-unstyled">
                        <li><strong>Monday-Friday:</strong> 9am to 7pm</li>
                        <li><strong>Saturday:</strong> 9am to 7pm</li>
                        <li><strong>Sunday:</strong>9am to 7pm</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>