<% content_for :page_title, 'Optimus Labs' %>
<% content_for :page_description, 'Technology Consulting for Small and Medium Sized Businesses' %>
<!-- Carousel Home -->


    <div class="wrap-home-header">
        <div class="container">
           <div class="header-content">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="header-title">
								<h2 class="animated fadeIn">Optimus Labs</h2>
								<h4 class="font-thin"><span class="font-semibold">Technology solutions for small and medium sized businesses.</h4>
							</div>
						</div>
					</div>
			
				</div>
			</div>

            </div> <!-- lcd -->
        </div> <!-- container -->
    </div> <!-- wrap-header-home -->

    <div class="wrap-home-features">
        <div class="container">
            <section class="home-features">
                <div class="row">
                    <% featured_services.each do |featured_service| %>
                    <div class="col-md-3 col-sm-6">
                        <article class="home-features-item">
                           <%= raw("<i class='icon-#{featured_service.logo_icon}'></i>") %>
                            <h2><%= featured_service.name %></h2>
                            <p><%= featured_service.summary %></p>
                            <%= link_to "Read More", service_path(featured_service), :class=> "btn btn-default" %>
                        </article>
                    </div>
                    <% end %>
                </div> <!-- row -->
            </section> <!-- home-features -->
        </div> <!-- container -->
    </div> <!-- wrap-home-features -->

    <div class="container">
            <div class="row">                             
                <div class="col-lg-12 col-md-12">
                    <section class="home-works">            
                        <h1 class="section-title">In The Lab</h1>
                        
                        <div class="row">

                            <div class="col-lg-4 col-md-4 col-sm-4">
                             <ul class="grid">
                                <li>
                                <figure class="caption cs-style-3">
                                   <%= image_tag "w1.jpg" %>
                                    <figcaption>
                                        <h3>Platform</h3>
                                        <%= link_to "Take a look", page_path('labs/platform'), :class=> "btn btn-robotic-inverse" %>
                                    </figcaption>
                                </figure>
                            </li>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                            <ul class="grid">
                                <li>
                                <figure class="caption cs-style-3">
                                    <%=image_tag "w2.jpg" %>
                                    <figcaption>
                                        <h3>Help Desk</h3>
                                        <%= link_to "Take a look",  page_path('labs/helpdesk'), :class=> "btn btn-robotic-inverse" %>
                                    </figcaption>
                                </figure>
                                </li>
                            </ul>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                             <ul class="grid">
                                <li>
                                <figure class="caption cs-style-3">
                                    <%= image_tag "w3.jpg" %>
                                    <figcaption>
                                        <h3>Future Projects</h3>
                                        <%= link_to "Take a look",  page_path('labs/future'), :class=> "btn btn-robotic-inverse" %>
                                    </figcaption>
                                </figure>
                                </li>
                            </ul>
                            </div>
                        </div>    
                    </section> <!-- home-works -->
                </div> <!-- col-md-8 -->
            <!-- col-md-4 -->
            </div> <!-- row -->
        


        <div class="row">
            <div class="col-md-12">
                <section class="team-home">
                    <h1 class="section-title">Our Mission</h1>
                    <p class="lead">&laquo;Technology should be invisible. Computers, smartphones, and websites should just work. We will make your tech dissapear into the background.&raquo;</p>
                    <div class="row">
                        <div class="col-md-4">
              
                        </div>
                        <div class="col-md-4">
                            <div class="team-home-item">
                                <div class="team-home-img">
                                    <%= image_tag "th2.jpg" %>
                                </div>
                                <div class="team-home-content">
                                    <h3>Jody Albritton - Owner</h3>
                                    <p>Programmer. Web Guy. Engineer</p>
                                    <p>Jody has been working in technology related fields for over 15 years.</p>
                                </div>
                                <div class="team-home-footer">
                                    <%= link_to "Read More", page_path('about') %>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            
                        </div>
                    </div>
                </section> <!-- team-home -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-7">
                <section class="home-about">
                    <div class="section-title">
                        <h1>About us</h1>
                    </div>
                    <p>For the last four years, Optimus has provided consulting to companies and edcuational institutions <strong>small</strong> and large. We use the best open source technologies and leverage the vast amount of resources available on the internet. </p>
                </section>
            </div>
            <div class="col-lg-4 col-md-5">
                <section class="home-clients">
                    <div class="section-title">
                        <h1>Our clients</h1>
                    </div>
                    <% client_highlight.each do |ch| %>
                        <% unless ch == nil %>
                        <%= link_to ch.url do %>
                            <%= image_tag ch.avatar.url(:thumb)%>
                           
                        <% end %>
                        <% else %>

                        <%= image_tag" rb.jpg",  :class=>"img-responsive" %>
                        <% end %>
                    <% end %>
                    
                    
                </section>
            </div>
        </div> <!-- row -->

        <!-- latest-posts -->
        <section class="latest-post">
            <h1 class="section-title">Latest Blog Entries</h1>
            <div class="row">
            <% recent_posts.each do |post| %>
                <div class="col-md-4">
                    <div class="home-post-item"> 
                        <h3><%= link_to post.title, post_path(post) %></h3>
                        <p><%= strip_tags(post.body).first(200) %></p>
                    </div>
                </div>
            <% end %>
            </div> <!-- row -->
        </section> <!-- latest-post -->
    </div> <!--container -->


    <%= javascript_include_tag "toucheffects", 'data-turbolinks-track' => true  %>