

<%= form_for([:admin, @contact], :html => { :class => "form-horizontal panel", :multipart => true }) do |f| %>
  <% if @contact.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h4>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
           <div class="col-md-12">
            <div id="upload-preview" class="col-lg-9 col-lg-offset-1">
              <%= image_tag @contact.avatar.url(:medium), :class=> "img img-responsive" %>
              <%= f.file_field :avatar, :class=> "form-control file"%>
            </div>
           </div>
          </div>
          <div class="col-md-9">
            
                <div class="row">
                <div class="col-md-6">
                  <div class="form-group no-margin-hr">
                          <%= f.label :first_name, :class => "control-label" %>
                
                          <%= f.text_field :first_name, :class => "form-control", :required=> true %>  
                  </div>
                </div>
                <div class="col-md-6">
                 <div class="form-group no-margin-hr">
                          <%= f.label :last_name, :class => "control-label" %>
                
                          <%= f.text_field :last_name, :class => "form-control", :required=> true %>  
                  </div>
                </div>
                </div>
                <div class="form-group no-margin-hr">
                  <%= f.label :client, :class => "control-label" %>
                  <%= f.text_field :client_name, data: {autocomplete_source: admin_clients_path}, :class=> "form-control", :required => true %>
                </div>
               
                <div class="form-group no-margin-hr">
                  <%= f.label :email, :class => "control-label" %>
                  <%= f.text_field :email, :class => "form-control" %>
               
                </div>
                

                <div class="form-group no-margin-hr">
                  <%= f.label :phone, :class => "control-label" %>
                  
                    <%= f.text_field :phone, :class => "form-control" %>
          
                </div>
                <div class="form-group no-margin-hr">
                  <%= f.label :notes, :class => "control-label" %>
                  
                    <%= f.text_area :notes, :class => "form-control" %>
         
                </div>
                
              </div>
              </div>
       
        </div>
 
<div class="panel-footer text-right">       
              <%= f.submit :class => "btn btn-primary" %>
</div>
<% end %>

<script>
 $(function() {
        $( "#contact_client_name" ).autocomplete({
          source: $('#contact_client_name').data('autocomplete-source')
        });
        $('#contact_avatar').pixelFileInput({ placeholder: 'No file selected...' });

  });
</script>



<script>
$(document).ready(function(){
    var preview = $("#upload-preview img");

    $("#contact_avatar").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });
});
</script>