  <% content_for :page_header do %>
   <%= @contact.full_name %>
  <% end %>
  <% content_for :page_actions do %>
    <%= link_to admin_contact_path, :class => 'btn btn-primary btn-labeled', :style=>"width: 100%;" do %>
                <span class="btn-label icon fa fa-plus"></span>Back
    <% end %>
  <% end %>

<dl class="dl-horizontal">
  <dt>First Name:</dt>
  <dd><%= @contact.first_name %></dd>
   <dt>Last Name:</dt>
  <dd><%= @contact.last_name %></dd>

  <dt>Email:</dt>
  <dd><%= @contact.email %></dd>

  <dt>Phone:</dt>
  <dd><%= @contact.phone %></dd>

  <dt>Description:</dt>
  <dd><%= @contact.notes %></dd>

</dl>
