<script>
  var init = [];
  init.push(function () {
    $('body').addClass('page-profile');
  });
</script>
<% content_for :page_header do %>
   <%=@contact.full_name %>
  <% end %>
  <% content_for :page_actions do %>
   <%= link_to admin_contacts_path, :class => 'btn btn-primary btn-labeled', :style=>"width: 100%;" do %>
                <span class="btn-label icon fa fa-chevron-left"></span>Back
    <% end %>
   
  <% end %>
<%= render 'admin/header' %>

<div class= "row">
  <div class="col-md-2">
    <div class="panel profile-photo">
            <%= image_tag @contact.avatar.url(:medium) %>
    </div>
  </div>
  <div class="col-md-10">
  <div class="panel colourable">
            <div class="panel-heading">
              <span class="panel-title">Contact Details</span>
              <div class="panel-heading-controls">
                <span class="panel-heading-text"><em></em>&nbsp;&nbsp;<span style="color: #ccc">|</span>&nbsp;&nbsp;</span>
                 <%= link_to edit_admin_contact_path(@contact), :class => 'btn btn-xs' do %>
                  <span class="btn-label icon fa fa-plus"></span>Edit
                 <% end %>
              </div>
            </div> <!-- / .panel-heading -->
            <div class="panel-body">
              <div class="row">
                <div class="col-md-8">
                  <div class="contact-details">
                    <div class="col-md-2">
                    <dl>
                      <dt>Client</dt>
                        <dd><%= @contact.client.name %></dd>
                      <dt>Email</dt>
                        <dd><%= mail_to @contact.email %></dd>
                      <dt>Phone</dt>
                        <dd><%= mail_to @contact.phone %></dd>
                    </dl>
                    </div>
                    <div class="col-md-10">
                      <p class="lead">Notes:</p>
                      <p>
                        <%= @contact.notes %>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                   
                  </div>
                </div>
              </div>
            </div>
  </div>


  </div>
</div>