



<%= form_for [:admin, @post], :html => { :class => "form-horizontal" } do |f| %>
  <% if @post.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h4>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :title, :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :title, :class => "form-control", :required => true %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :draft, :class => "col-sm-2 control-label" %>
    <div class="col-sm-1">
      <%= f.check_box :draft, :class => "form-control" %>
    </div>
  </div>
    
  <div class="form-group">
    <%= f.label :body, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :body, :class => "form-control" %>
    </div>
  </div>
  
   <div class="form-group">
    <%= f.label :tag_list, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :tag_list, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :category, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :category_id, Category.all, :id, :name, :include_blank => false%>
    </div>
  </div>
   


 <div class="form-group">
    <%= f.label  "Published" , :class => "col-sm-2 control-label" %>
    <div class="col-sm-3 input-group date" id="bs-datepicker-component">
          <%= f.text_field :published_at, :class => "form-control", :value => Date.today.strftime("%Y-%m-%d") %>  
           <span class="input-group-addon"><i class="fa fa-calendar"></i>
          </span>
   </div>
  </div>
  <div class="form-group">
    <%= f.label :excerpt, :class => "col-sm-2 control-label" %>

    <div class="col-sm-10">
    <%= f.text_area :excerpt, :class => "form-control " %>

    </div>
  

  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
 
<% end %>


  <script>
      $(function(){
          $('#post_body').editable({inlineMode: false, height: 600})
      });
  </script>


<script>
          init.push(function () {
            var options = {
              todayBtn: "linked",
              format: "yyyy-mm-dd",
              orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
            }
            $('#bs-datepicker-example').datepicker(options);

            $('#bs-datepicker-component').datepicker(options);

            var options2 = {
              orientation: $('body').hasClass('right-to-left') ? "auto right" : 'auto auto'
            }
            $('#bs-datepicker-range').datepicker(options2);

            $('#bs-datepicker-inline').datepicker();
          });
        </script>