  <% content_for :page_header do %>
    Listing Tickets
  <% end %>
  <% content_for :page_actions do %>
      <% if params[:client_id] %>
             <%= link_to admin_client_path(params[:client_id]), :class => 'btn btn-primary btn-labeled', :style=>"width: 100%;" do %>

                  <span class="btn-label icon fa fa-chevron-left"></span>Back
              <% end %>
      <% else %>
              <%= link_to admin_index_path, :class => 'btn btn-primary btn-labeled', :style=>"width: 100%;" do %>
                  <span class="btn-label icon fa fa-chevron-left"></span>Back
              <% end %>
      <% end %>
  
  <% end %>
  <% content_for :page_search do %>
  <form action="" class="pull-right col-xs-12 col-sm-6">
              <div class="input-group no-margin">
                <span class="input-group-addon" style="border:none;background: #fff;background: rgba(0,0,0,.05);"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Search..." class="form-control no-padding-hr" style="border:none;background: #fff;background: rgba(0,0,0,.05);">
              </div>
            </form>
  <% end %> 
<%= render 'admin/header' %>
<div class="panel colourable">
          <div class="panel-heading">
            <span class="panel-title">Tickets</span>
            <div class="panel-heading-controls">
              <% if params[:client_id] %>
                <%= link_to new_admin_client_ticket_path(params[:client_id])  do %>
                  <button class="btn btn-xs btn-warning btn-outline"><span class="fa fa-plus"></span>&nbsp;&nbsp;New</button>
                <% end %>
              <% else %>
                <%= link_to new_admin_ticket_path  do %>
                  <button class="btn btn-xs btn-warning btn-outline"><span class="fa fa-plus"></span>&nbsp;&nbsp;New</button>
                <% end %>
              <% end %>
            </div> <!-- / .panel-heading-controls -->
          </div> <!-- / .panel-heading -->
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover table-responsive datatables display" id="table">
                <thead>
                  <tr>
                        <th>Subject</th>
                      
                        <th class="hidden-sm hidden-xs">Priority</th>
                        <th class="hidden-sm hidden-xs">Status</th>
                        <th class="hidden-sm hidden-xs">Opened</th>
                        <th class="no-sort"></th>
                  </tr>
                </thead>

                <tbody>
                  <%= content_tag_for(:tr, @tickets) do |ticket| %>
                        <% if params[:client_id] %>
                          <td>
                            <%= link_to admin_client_ticket_path(params[:client_id],ticket) do %>
                              <%= ticket.subject %> [#<%=ticket.id%>]
                            <% end %>
                            <p>Opened for <%=link_to ticket.client.name, admin_client_path(ticket.client) %></p>
                          </td>

                        <% else %>
                            <td>
                            <%= link_to admin_ticket_path(ticket) do %>
                              <%= ticket.subject %> [#<%=ticket.id%>]
                            <% end %>
                            <p>Opened for <%=link_to ticket.client.name, admin_client_path(ticket.client) %></p>
                          </td>
                        <% end %>
                   
                        <td class="hidden-sm hidden-xs"><%= ticket.severity%></td>
                        <td class="hidden-sm hidden-xs"><%= ticket.aasm.human_state %></td>
                        <td class="hidden-sm hidden-xs" data-order="<%=ticket.created_at.to_time.to_i %>"><%= ticket.created_at.strftime("%m/%d/%Y")%></td>
                      
                        <td class="col-md-2 text-center"> 
                          <% if params[:client_id] %>
                            <%= link_to admin_client_ticket_path(params[:client_id], ticket) do %>
                             <span class="btn btn-default icon fa fa-eye"></span>
                            <% end %>
                            <%= link_to edit_admin_client_ticket_path(params[:client_id], ticket) do %>
                             <span class="btn btn-default icon fa fa-pencil"></span>
                            <% end %>
                            <%= link_to  admin_client_ticket_path(params[:client_id], ticket), method: :delete, data: { confirm: 'Are you sure?' }, :class=> "hidden-sm hidden-xs" do %>
                              <span class="btn btn-danger icon fa fa-trash-o"></span>
                            <% end %>
                            <% else %>
                            <%= link_to admin_ticket_path(ticket) do %>
                             <span class="btn btn-default icon fa fa-eye"></span>
                            <% end %>
                            <%= link_to edit_admin_ticket_path(ticket) do %>
                             <span class="btn btn-default icon fa fa-pencil"></span>
                            <% end %>
                            <%= link_to  admin_ticket_path(ticket), method: :delete, data: { confirm: 'Are you sure?' }, :class=> "hidden-sm hidden-xs" do %>
                              <span class="btn btn-danger icon fa fa-trash-o"></span>
                          <% end %>
                       <% end %>
                        </td>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>

            



<script>

oTable = $('#table').dataTable({
  "sPaginationType": "bootstrap",
   "dom": 'T<"clear">lfrtip',
   "sDom": '<"H"lr>t<"F"ip>',
   "order": [[ 3, "asc" ]],
   "aoColumnDefs" : [ {
            'bSortable' : false,
            'aTargets' : ["no-sort"]
        } ]
        
});

  $("#search").keyup(function() {
   oTable.fnFilter(this.value);
  });

</script>