  <% content_for :page_header do %>
   #<%= @ticket.id %>&nbsp<%=@ticket.subject %>
  <% end %>
  <% content_for :page_actions do %>
   <%= link_to admin_tickets_path, :class => 'btn btn-primary btn-labeled', :style=>"width: 100%;" do %>
                <span class="btn-label icon fa fa-chevron-left"></span>Back
    <% end %>
   
  <% end %>
<%= render 'admin/header' %>

<div class="row">
<div class="col-md-8">
    <div class="panel">
      <div class="panel-heading">
        Ticket Details
      </div>
        <div class="panel-body">
              <%= @ticket.description %>
        </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        Resolution
      </div>
        <div class="panel-body">
              <%= @ticket.resolution %>
        </div>
    </div>
 <div id="interaction_form">
   
       <%= form_for ([:admin, @ticket, @new_interaction]), :class=>"form-horizontal", :remote => true  do |f|  %>
        <div class="form-group">
      
        <%= f.label :event, :class => "col-sm-1 control-label" %>
          <div class="col-sm-3">

           <%= f.text_field :interaction_event_name, data: {autocomplete_source: admin_interaction_events_path},
            :class=> "form-control", :required => true %>
          </div>
          <%= f.label :time, :class => "col-sm-1 control-label" %>
           <button type="button"  onclick='Example1.Timer.toggle();' class="btn btn-default">
            <span class="fa fa-play"></span>/<span class="fa fa-pause"></span>
            </button>
          <button type='button'  onclick='Example1.resetStopwatch();' class="btn btn-default" >
            <span class="fa fa-stop"></span>
          </button>
          <div class="col-sm-1">
          <%= f.number_field :time, :class=> "form-control " %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :content, :class => "col-sm-1 control-label" %>
          <div class="col-sm-11">
          <%= f.text_area  :content, :class=>"form-control" %>
          </div>
        </div>
        <div class="form-group">
        <%= f.submit "Create Interaction", class: "btn btn-primary pull-right" %>
        </div>
       <%end%>
       </div>
  <div class="col-md-offset-1 timeline" id="timeline" >
      <!-- Timeline header -->
     
       <%= render '/admin/interactions/event' %>
      
  </div> <!-- / .timeline -->
</div>
<div class="col-md-4">
<div class="panel panel-<%= @ticket.get_label %>">
          <div class="panel-heading">
            <span class="panel-title">Current Status:&nbsp <%= @ticket.aasm.human_state %></span>
            <div class="panel-heading-controls">
              <span class="panel-heading-text"><em> <%= link_to new_admin_interaction_path, :remote => true do %>New Interaction<% end %></em>&nbsp;&nbsp;<span style="color: #ccc">|</span>&nbsp;&nbsp;</span>
               <%= link_to edit_admin_ticket_path(@ticket), :class => 'btn btn-xs' do %>
                <span class="btn-label icon fa fa-plus"></span>Edit
               <% end %>
            </div>
          </div> <!-- / .panel-heading -->
          <div class="panel-body">
            <ul class="list-group">
                    <li class="list-group-item">
                      <span class="pull-right"><%= @ticket.client.name %></span>
                      Client:
                    </li>
                     <li class="list-group-item">
                      <span class="pull-right"><%= @ticket.location %></span>
                      Location
                    </li>
                    <li class="list-group-item">
                      <span class="badge badge-info"><%= Time.at(@ticket.interactions.sum :time).utc.strftime('%H:%M:%S') %></span>
                      Time Spent:
                    </li>
                    <li class="list-group-item">
                      <span class="pull-right"><%= @ticket.created_at.strftime("%m/%d/%Y") %></span>
                      Date Opened
                    </li>
                    <li class="list-group-item">
                      <span class="badge badge-success"><%= @ticket.interactions.size %></span>
                      Interactions
                    </li>
                    <li class="list-group-item">
                      <span class="badge badge-warning"><%= time_ago_in_words(@ticket.created_at) %></span>
                      Time Open
                    </li>
                    
                  </ul>
          </div>
</div>
</div>
</div>


<script>
 var Example1 = new (function() {
    var $interaction_time, // Stopwatch element on the page
        incrementTime = 1000, // Timer speed in milliseconds
        currentTime = 0, // Current time in hundredths of a second
        updateTimer = function() {
            $interaction_time.val(currentTime);
            currentTime += incrementTime / 1000;
        },
        init = function() {
            $interaction_time = $('#interaction_time');
            Example1.Timer = $.timer(updateTimer, incrementTime, true);
        };
    this.resetStopwatch = function() {
        currentTime = 0;
        this.Timer.stop().once();
    };
    $(init);
});

</script>
<script>
  $("#interaction_form").toggle(300);

  $(function() {
        $( "#interaction_interaction_event_name" ).autocomplete({
          source: $('#interaction_interaction_event_name').data('autocomplete-source')
    });
  });
</script>
          </div>
</div>