<%= simple_form_for([:admin, @setting]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :var %>
    <%= f.input :value %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save" %>
  </div>
<% end %>