<%  add_breadcrumb "Home", :root_path, :options => { :title => "Home" } %>
<%  add_breadcrumb "Labs", "#", :options => { :title => "Labs" } %>
<%  add_breadcrumb "Helpdesk", page_path('labs/helpdesk'), :options => { :title => "Helpdesk" } %>

<% content_for :page_title, 'Optimus Labs Helpdesk' %>
<% content_for :page_description, 'Remote helpdesk services for small business.' %>
<% content_for :meta_tags do %>
<!-- Twitter Card data --> 
<meta name="twitter:card" value="On demand remote helpdesk service from Optimus Labs">

<!-- Open Graph data --> 
<meta property="og:title" content="Optimus Labs Helpdesk" /> 
<meta property="og:type" content="website" /> 
<meta property="og:description" content="On demand remote helpdesk from Optimus Labs" />
  
<% end %>
<div class="container">

            <header class="section-title">
                <h1>The Help Desk</h1>

                <ol class="breadcrumb">
                    <%= render_breadcrumbs :tag => :li, :separator => "", :class=>"breadcrumb-label text-light-gray" %>
                </ol>
            </header>
            <div class="row">
                <div class="col-md-6">
                    
                    <p>Optimus Labs is reinventing the helpdesk. When your business is small, hiring a full time IT person can be impossible. Optimus Labs becomes your helpdesk. We have easy prices that allow you to predict your IT expinditures.</p>

                    <p class="lead">You shouldn't need to have your own IT department to get the most out of Today's Technologies.</p>

                    <p>By retaining our services on a monthly basis you can call anytime you have a question.<strong>Day or night</strong> we are here to help <em>You</em> with any of your technology needs.</p>
                    <p>Our on demand helpdesk service gives you peace of mind, knowing that when you do need help it will be there.</p>
                </div>
                <div class="col-md-6">
                   <%= image_tag "helpdesk_logo.png", :class=> "img-responsive" %>
                </div>
            </div>
            <div class="row">
            <h2 class="section-title">A Few Features</h2>
            <div class="col-md-6">
                <ul>
                    <li>Ticket Tracking</li>
                    <li>Phone Support</li>
                    <li>Asset Management</li>
                    <li>Knowledge Base
                        <ul>
                            <li>Remote Troubleshooting</li>
                            <li>Remote Monitoring</li>
                            <li>Change and Configuration Management</li>
                            <li>Software Updates</li>
                        </ul>
                   </li>
                </ul>
            </div>
            <div class="col-md-6">
               <div class="col-sm-6 col-lg-6 col-md-6 mix 2">
                    <a href="#" class="thumbnail">
                        <%= image_tag "p1.jpg", :class=>"img-responsive"%>
                    </a>
                </div>
          
            <div class="col-sm-6 col-lg-6 col-md-6 mix 2">
                    <a href="#" class="thumbnail">
                       <%= image_tag "p1.jpg", :class=>"img-responsive"%>
                    </a>
                </div>
             <div class="col-sm-6 col-lg-6 col-md-6 mix 2">
                    <a href="#" class="thumbnail">
                        <%= image_tag "p1.jpg", :class=>"img-responsive"%>                    
                    </a>
            </div>
            <div class="col-sm-6 col-lg-6 col-md-6 mix 2">
                    <a href="#" class="thumbnail">
                        <%= image_tag "p1.jpg", :class=>"img-responsive"%>
                    </a>
                </div> 
            </div>
       
            
            </div>


</div>