<% content_for :page_title, 'Optimus Labs Platform' %>
<% content_for :page_description, 'The Optimus Platform is an entire suite of tools designed around the needs of the small business owner. You can manage your customers or clients, keep track of inventory, manage service requests, and much much more.' %>
<% content_for :meta_tags do %>
<!-- Twitter Card data --> 
<meta name="twitter:card" value="The Optimus Platform is an entire suite of tools designed around the needs of the small business owner. You can manage your customers or clients, keep track of inventory, manage service requests, and much much more.">

<!-- Open Graph data --> 
<meta property="og:title" content="Optimus Labs Platform" /> 
<meta property="og:type" content="website" /> 
<meta property="og:description" content="The Optimus Platform is an entire suite of tools designed around the needs of the small business owner. You can manage your customers or clients, keep track of inventory, manage service requests, and much much more." />
  
<% end %>
<div class="container">

            <header class="section-title">
                <h1>Optimus Platform</h1>

                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Labs</a></li>
                    <li class="active">Platform</li>
                </ol>
            </header>
            <div class="row">
                <div class="col-md-6">
                    
                    <p>The Optimus Platform is an entire suite of tools designed around the needs of the small business owner. You can manage your customers or clients, keep track of inventory, manage service requests, and much much more. Optimus Labs is dedicated to designing easy to use tools at affordable prices.</p>
                    <p class="lead">You should not have to spend more money to manage your clients than you make working for those clients.</p>
                    <p>We are not reinventing the wheel, <strong>most of these tools are available elsewhere.</strong> We <em>are</em> reinventing pricing schemes for these tools. The Optimus Platform is simply priced to be within reach of small business owners who need every last penny.</p>
                    <p>While affordable, the platform is not carbon copy solution for every customer. Each customer recieves their own platform with all of the features turned on by default. You turn off what you don't need and only pay for what you use. </p>
                </div>
                <div class="col-md-6">
                   <%= image_tag "platform_logo.jpg", :class=> "img-responsive" %>
                </div>
            </div>
            <div class="row">
             <h2 class="section-title">Features</h2>
            <div class="col-md-6">
               
                <ul>
                    <li>No Contracts</li>
                    <li>Take your data when you leave</li>
                    <li>Custom built for your company</li>
                    <li>Elegant user interface
                        <ul>
                            <li>Manage service requests</li>
                            <li>Contact Lists</li>
                            <li>Products and Services</li>
                            <li>Employee Management</li>
                        </ul>
                   </li>
        
                </ul>
            </div>
            <div class="col-md-6">
            <div class="col-sm-6 col-lg-6 col-md-6 mix 2">
                    <a href="#" class="thumbnail">
                        <%= image_tag "p1.jpg", :class=>"img-responsive"%>
                    </a>
                </div>
          
            <div class="col-sm-6 col-lg-6 col-md-6 mix 2">
                    <a href="#" class="thumbnail">
                       <%= image_tag "p1.jpg", :class=>"img-responsive"%>
                    </a>
                </div>
             <div class="col-sm-6 col-lg-6 col-md-6 mix 2">
                    <a href="#" class="thumbnail">
                        <%= image_tag "p1.jpg", :class=>"img-responsive"%>                    
                    </a>
            </div>
            <div class="col-sm-6 col-lg-6 col-md-6 mix 2">
                    <a href="#" class="thumbnail">
                        <%= image_tag "p1.jpg", :class=>"img-responsive"%>
                    </a>
                </div> 
            </div>
            </div>

            <section class="pricing">
            <div class="row">
            <h2 class="section-title">Pricing</h2>
            <div class="col-md-4 col-sm-6">
                <div class="pricign-box">
                    <div class="pricing-box-header">
                        <h2>Starter</h2>
                        <p>Optimus Platform with Subdomain Hosting</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ 49 <sub>/ month</sub> </h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li><i class="icon-inbox"></i> Customer Relationship Management</li>
                            <li><i class="icon-cloud-download"></i> Ticketing System</li>
                            <li><i class="icon-dashboard"></i> Custom Dashboard</li>
                            <li><i class="icon-shopping-cart"></i> Track Products </li>
                        </ul>
                    </div>
                    <div class="pricing-box-footer">
                        <a href="#" class="btn btn-default">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricign-box pricign-box-pro">
                    <div class="pricing-box-header">
                        <h2>Personal</h2>
                        <p>nisi anim mollit in labore ut esse</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ 10 <sub>/ month</sub> </h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li><i class="icon-inbox"></i> Exercitation in id in officia.</li>
                            <li><i class="icon-cloud-download"></i> Exercitation in id in officia.</li>
                            <li><i class="icon-dashboard"></i> Exercitation in id in officia.</li>
                            <li><i class="icon-sitemap"></i> Exercitation in id in officia.</li>
                            <li><i class="icon-shopping-cart"></i> Exercitation in id in officia.</li>
                        </ul>
                    </div>
                    <div class="pricing-box-footer">
                        <a href="#" class="btn btn-robotic">Order Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="pricign-box">
                    <div class="pricing-box-header">
                        <h2>Personal</h2>
                        <p>nisi anim mollit in labore ut esse</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ 10 <sub>/ month</sub> </h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li><i class="icon-inbox"></i> Exercitation in id in officia.</li>
                            <li><i class="icon-cloud-download"></i> Exercitation in id in officia.</li>
                            <li><i class="icon-dashboard"></i> Exercitation in id in officia.</li>
                            <li><i class="icon-sitemap"></i> Exercitation in id in officia.</li>
                            <li><i class="icon-shopping-cart"></i> Exercitation in id in officia.</li>
                        </ul>
                    </div>
                    <div class="pricing-box-footer">
                        <a href="#" class="btn btn-default">Order Now</a>
                    </div>
                </div>
            </div>
            </div>
            </section>
        
</div>