<div class="container">
        <header class="section-title">
            <h1>Blog</h1>

            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Blog</li>
            </ol>
        </header>

        <div class="row">
            <div class="col-md-8">
                <section class="blog">
                	<% @posts.each do |post| %>
                    <article class="post">
                        <h1><%= link_to post.title, post_path(post)%></h1>
                        <p>
                              <i class="icon-user"></i> by <%= post.author.first_name %> 
                              | <i class="icon-calendar"></i><%= post.published_at %> 
                              | <i class="icon-tags"></i> Tags : 
                              <% post.tags.each do |tag| %>
                                    <span class="label label-info"><%= tag.name %></span>
                              <% end %>

                           
                            </p>
                        <div class="article-summary">
                         
                           
                                <p><%= strip_tags(post.body).first(300) %> <%= link_to "Read More.....", post_path(post)%></p>
                           

                        </div>
                     
					   
					       
					        
					 
					
                    </article> <!-- post -->
                    <% end %>
                </section>
                <section>
                    <ul class="pagination">
                        <li class="disabled"><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </section>
            </div> <!-- col-md-8 -->

            <div class="col-md-4">
                <%= render "posts/sidebar" %>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->

